{% extends 'base.html' %}

{% block body_attribs %} class="zoom_white_background" {% endblock body_attribs %}

{% block content %}
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3> Privacy Policy </h3>
      <p class="lead">
        This Privacy Policy, together with the Terms Of Use, provides an explanation as to what happens to any personal data that you provide or that is collected automatically from you, while using the website. This policy may be updated from time to time, so please do review this policy regularly.
      </p>
      <p class="lead">
        <strong>1.  Information Collected</strong><br>
        Using this website may result in collection and processing the following data about you:
        i.    Details of your visits to this website and the resources that you access, including, but not limited to, traffic data, location data, weblogs and other communication data.
        ii.    Information that you provide by filling in forms on this website, such as when you registered for information.
        iii.    Information provided by you when you communicate via email.
      </p>
      <p class="lead">
        <strong>2.  Use of Cookies</strong><br>
        On occasion, information may be gathered about your computer for services and statistical data regarding the use of this website by visitors. Such information will not identify you personally, it is statistical data about the visitors and their use of this website. This statistical data does not identify any personal details whatsoever.
        Similarly to the above, information may be gathered by using a cookie file. Where used, these cookies are downloaded to your computer automatically. This cookie file is stored on the hard drive of your computer as cookies contain information that is transferred to your computer's hard drive. They are necessary for the full functionality of some sections of this website.
        All web browser applications have the ability to decline cookies.  This can be done by activating the setting on your web browser which enables you to decline some or all the cookies. Please note that should you choose to decline cookies, you may be unable to access particular parts of this website.
      </p>
      <p class="lead">
        <strong>3.  Use of Your Information</strong><br>
        The information that is collected and stored relating to you is primarily used to provide the full services of this website to you. In addition, this information may be used additionally for the following purposes:
        i.    To provide you with information requested from this website.
        ii.    To notify you about any changes to this website, such as improvements or content updates, if you are a registered user.
        Please be advised that, in any case, these personal data are not revealed to any third party.
      </p>
      <p class="lead">
        <strong>4.  Storing Your Personal Data</strong><br>
        By submitting your personal data, you agree to transfering, storing or processing of these data for purposes as described above. All reasonable steps are taken to make sure that your data is treated securely and in agreement with this Privacy Policy.
        The transmission of information via the Internet is not always secure and therefore the security of data sent to and from this website can not be guaranteed in all cases. Therefore, the transmission of such data is entirely at your own risk. Registered users are provided with a username and password, so that they can access certain parts of this website, thus they are responsible for keeping this access tokens confidential.
      </p>
      <p class="lead">
        <strong>  5.  Third Party Links</strong><br>
        You mind find links to third party websites on this website. Those websites should have their own privacy policies which you should check. No responsibility or liability is endorsed for their policies whatsoever.
      </p>
      <p class="lead">
        <strong>6.  Access To Information and Removal on Request</strong><br>
        You have the right to access all information about you stored in this website and, if requested, removed permanently. Should you wish to receive details or request removal, please use the contact details provided in this website.
      </p>
    </div>
  </div>
</div>
{% endblock %}
