{% extends 'coordinators/base.html' %}
{% import "macros.html" as macros %}


{% block title %} {{ page.title }} {% endblock%}

{% block page_content %}
{{ macros.flash_message() }}

<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-lg-12">
      <form class="" action="#" method="post">
        {{ form.hidden_tag() }}
        <a class="btn btn-xs btn-primary" href="{{ page.back }}">
          <i class="fa fa-chevron-left"></i> Back
        </a>
        <button type="submit" class="btn btn-xs btn-success" href="{{ url_for('coordinator.spots') }}"><i class="fa fa-save"></i> Save</button>
        <hr>
        <fieldset>
          <legend style="font-size:18px"> Basic Information </legend>
          <div class="input-group input-group-sm ">
            <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
            {{ form.name(class="form-control", placeholder="Spot Name") }}
          </div>
            {{ macros.field_errors(form.name) }}
          <div class="input-group input-group-sm ">
            <span class="input-group-addon"><span class="fa fa-puzzle-piece"></span></span>
            {{ form.spottype_id(class="form-control") }}
          </div>
            {{ macros.field_errors(form.spottype_id) }}
          </fieldset>
          <br>
          <fieldset>
            <legend style="font-size:18px"> Status </legend>
            <div class="input-group input-group-sm ">
              {{ form.status(class="form-control") }}
            </div>
              {{ macros.field_errors(form.name) }}
            <br>
            <div class="input-group input-group-sm ">
              <span class="input-group-addon">Capacity</span></span>
              {{ form.capacity(class="form-control") }}
            </div>
              {{ macros.field_errors(form.capacity) }}
          </fieldset>
          <br>
          <fieldset>
            <legend style="font-size:18px"> Location Information </legend>
            <div class="row">
              <div class="col-xs-6">
                <div class="input-group">
                  <span class="input-group-addon">Latitude</span>
                    {{ form.lat(class="form-control") }}
                </div>
                    {{ macros.field_errors(form.lat) }}
              </div>
              <div class="col-xs-6">
                <div class="input-group">
                  <span class="input-group-addon">Longitude</span>
                  {{ form.lon(class="form-control") }}
                </div>
                  {{ macros.field_errors(form.lon) }}
              </div>
            </div>
          </fieldset>
          <br>
          <fieldset>
            <legend style="font-size:18px"> Notes</legend>
              {{ form.notes(class="form-control") }}
          </fieldset>
        </form>
        <hr style="width:50%">
        <hr style="width:25%">
        <hr style="width:15%">
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
{% endblock %}
